@mixin mq() {
    @media (min-width : "900px") {
        @content
    }
}

body{
    margin: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;

    @include mq(){
        width: auto;
    }

    nav{
        display: flex;
        align-items: center;
        padding: 3rem 1rem;
        padding-right: 2rem;
        position: relative;
        transition: all .3s ease;

        @include mq(){
            padding: 4rem 5rem;        
        }

        &.scrolled{
            background: hsla(0, 0%, 0%, 80%);
        }

        .menu-btn{
            margin-right: auto;
            background: none;
            border: none;
            cursor: pointer;

            @include mq(){
                    display: none;
            }
        }
        
        img{
            margin-right: auto;
            height: 100%;
        }

        
        ul{
            position: absolute;
            list-style: none;
            width: 100%;
            box-sizing: border-box;
            padding-inline-start: 0;
            gap: 1.5rem;
            text-transform: lowercase;
            background: #fff;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0rem 1.5rem;
            margin: 0;
            transform: translateY(-100%);
            transition: all .3s ease;
            opacity: 0;

            @include mq(){
                transform: translateY(0%);
                opacity: 1;
                background: none;
                width: inherit;
                position: relative;
            }

            &.active{
                transform: translateY(0%);
                opacity: 1;
            }

            .close-btn{
                background: none;
                border: none;
                position: absolute;
                z-index: 3;
                left: 1.5rem;
                top: 50%;
                transform: translateY(-50%);

                @include mq(){
                    display: none;
                }
            }
            
            .nav-links{
                color: #000;

                @include mq(){
                    color: #fff;
                    position: relative;
                }

                &:hover{
                    &::after{
                        content: '';
                        display: block;
                        width: 50%;
                        height: 3px;
                        background: #fff;
                        position: absolute;
                        bottom: -.8rem;
                        right: 0;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }

}

main{
    width: 100%;
    box-sizing: border-box;

    .inner-text{
        color: hsl(0, 0%, 63%);
        line-height: 1.7em;
    }

    .hero-sec{

        @include mq(){
            display: grid;
            grid-template-columns: 58% 1fr;
        }

        .slider-img{
            display: none;
            box-sizing: border-box;
            width: 100%;
            height: auto;

            img{
                width: 100%;
                display: block;
            }

            @include mq(){
                // // height: 100%;
                // width: 100%;
                flex-basis: 100%;
            }
        }

        .slider-img.active{
            display: block;
        }

        .slider-buttons{
            display: flex;
            position: absolute;
            right: 0;
            bottom: 0;

            &.desktop{
                display: none;
            }

            @include mq(){
                left: 0;
                right: inherit;
                display: none;

                &.desktop{
                    display: flex;
                }
            }
            
            button{
                background-color: #000;
                padding: 1rem 1.5rem ;
                border: none;
                margin: 0;
                display: inline-block;
                cursor: pointer;

                &:hover{
                    background-color: hsl(0, 0%, 27%);
                }

                img{
                    width: .6rem;
                }

                @include mq(){
                    padding: 2vw 2.3vw;

                    img{
                        width: 1rem;
                    }
                }
            }
        }

        .slider{
            position: relative;
            // overflow: hidden;

            // &.slider-mobile{
            //     display: block;

            //     @include mq(){
            //         display: none;
            //     }
            // }

            // &.slider-desktop{
            //     display: none;

            //     @include mq(){
            //         display: flex;
            //     }
            // }            
            
        }

        .hero-content{
            padding: 3.5rem 2rem;
            display: none;
            flex-direction: column;
            justify-content: center;
            position: relative;

            &.active{
                display: flex;
            }
            
            @include mq(){
                padding: 5rem;
            }

            h1{
                font-size: 1.6rem;
                font-weight: 600;
                margin-top: 0;
                margin-bottom: .2em;

                @include mq(){
                    font-size: 2.4rem;
                }
            }

            .shop-link{
                margin-top: 2rem;
                display: inline-block;
                color: #000;
                letter-spacing: .8em;
                font-weight: 500;

                @include mq(){
                    margin-bottom: 4rem;
                }

                &:hover{
                    color: hsl(0, 0%, 63%);

                    svg{
                        fill: hsl(0, 0%, 63%);
                    }
                }
            }
            
        }

        
    }

    .second-sec{
        @include mq(){
            display: flex;
        }

        img{
            width: 100%;

            @include mq(){
                flex: 7;
            }
        }

        &-content{
            padding: 2.5rem 2rem;

            @include mq(){
                padding: 3.5rem 3rem;
                flex: 8;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            h2{
                text-transform: uppercase;
                letter-spacing: .4em;
                font-size: .8rem;
            }
        }
    }
}
